html {
  background-color: #1e1052;
}

body {
  margin: 0;
}

header {
  background-color: #ccc;
  padding: 1em 3em 0.5em 2em;
  margin: 0;
  text-align: center;
  text-decoration: none;
}

nav li {
  border: solid;
  margin: 0;
  padding: 0.5 0.5 0.5 0.5;
  border-radius: 10px;
  background-color: #000;
  display: inline-block;
  text-align: center;
}

main{
  margin: 1em;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  text-decoration: none;
  font-family: 'Righteous', cursive;
  text-align: center;
  color: #fff;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  text-decoration: none;
  font-family: 'Righteous', cursive;
  text-align: left;
  color: #fff;
}

ol {
  list-style-type: lower-roman;
  line-height: 1.5;
  padding: 0em 0em 0em 2em;
  font-size: 1.25rem;
  font-family: Arial, sans-serif;
  color: #fff;
  margin: 2em;
}

a {
  color: #fff;
}

a:hover {
  color: yellow
}

p {
  font-weight: normal;
  font-size: 1rem;
  font-style: normal;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  text-align: left;
  color: #fff;
}

em {
  color: yellow;
  font-style: italic;
}

blockquote {
  font-weight: normal;
  font-size: 1.25rem;
  font-style: italic;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #ccc;
}

.cite {
  text-align: right;
}

figure {
  text-align: center;
  border: solid;
  border-radius: 10px;
  padding: 1em 1em 1em 1em;
  margin: 0;
}

img {
  width: 100%;
}

figcaption {
  font-weight: normal;
  font-size: 1.25rem;
  font-style: italic;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #ccc;
}

dl {
  list-style-type: none;
  line-height: 1.5;
  padding: 0;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  text-align: left;
  color: #fff;
}

dd {
  font-weight: normal;
  font-size: 1rem;
  font-style: italic;
  font-family: Arial, sans-serif;
  text-align: left;
  color: #ccc;
  margin: 0;
}

.sources {
  background-color: #ccc;
  padding: 1em 3em 0.5em 3em;
  margin: 0;
  text-align: left;
  text-decoration: none;
}

footer {
  margin: 1em;
}

.bullet {
  list-style-type: circle;
  margin: 0;
}
